body {
	background-image: url(img/6.png);
}

h1, h3{
	text-align: center;
	color: #FFFFFF;
	font-family: Noto Sans; 
}

@font-face {
	font-family: Noto Sans;
	src: url(fonts/NotoSans-Thin.ttf)
}

#opera {
	background-color: #443B35;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
}

#i5 {
	margin-left: 590px;
	margin-right: auto;
	width: 300px;
	height: 300px;
}

h3 {
	text-align: center;
	color: #FFFFFF;
	font-family: Noto Sans; 
}

#i1, #i4, #i2, #i3 {
	margin-left: 300px;
	margin-right: auto;
	width: 900px;
	height: 460px;
}
p {
	text-align: center;
	color: #FFFFFF;
	font-family: Noto Sans; 
}